body{
    background: rgb(253,253,255);
    background: linear-gradient(59deg, rgba(253,253,255,1) 0%, rgba(207,207,207,0.5387197115174195) 100%, rgba(147,147,147,1) 100%);
    color: #5c5656;
}
h1{
    font-size: 18px;
    color: #737373;
    padding: 0;
    margin: 0;
}

table{
    margin: 15px;

}

a{
    cursor: pointer;
}

.box {
    overflow: hidden;
    height: 100px;
    width: 300px;
}

.box__in {
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
    height: 100%;
}

footer {
    border: solid 1px silver;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.error{
    color:  red;
    font-weight: bold;
}

.success{
    color:  green;
    font-weight: bold;
}

.alert {
    padding: 1px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #c0c2c2;
    background: rgb(253,253,255);
    background: radial-gradient(circle, rgba(253,253,255,1) 0%, rgba(207,207,207,0.5387197115174195) 100%, rgba(147,147,147,1) 100%);
}
